h1#about {
  margin-top: 100px;
  margin-bottom: 50px;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.info {
  margin: 10px;

  .main-info {
    font-size: 1.5rem;
    margin-top: auto;
  }
}
.skills {
  margin-top: auto;
  h2 {
    color: $secondary-color;
    margin: 20px 10px;
  }
}
.skill-showcase {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  li {
    text-align: center;
    list-style: none;
    margin: 5px;
    padding: 5px;

    i {
      transition: 0.25s ease-in-out all;
      cursor: pointer;
    }
    .icon {
      &-1:hover {
        color: #e34c2a;
      }
      &-2:hover {
        color: #54a8de;
      }
      &-3:hover {
        color: #563d7c;
      }
      &-4:hover {
        color: #cd6799;
      }
      &-5:hover {
        color: #f4f74b;
      }
      &-6:hover {
        color: #777bb3;
      }
      &-7:hover {
        color: #f79e4b;
      }
    }

    p {
      text-transform: uppercase;
      margin: 10px 5px;
      font-size: 1rem;
    }
  }
}

.potrait-section {
  margin-top: 20px;
  margin-left: 50px;
  .potrait {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 6px 5px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 10px 6px 5px -1px rgba(0, 0, 0, 0.59);
    box-shadow: 10px 6px 5px -1px rgba(0, 0, 0, 0.59);
  }
}
