.about-container {
  display: flex;
}

.info {
  margin: 10px;

  .main-info {
    font-size: 1.5rem;
  }
}

.skill-showcase {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  li {
    text-align: center;
    list-style: none;
    margin: 5px;
    padding: 5px;
    i {
      cursor: pointer;
    }
  }
}

// .potrait-section {
//   .potrait {
//   }
// }
