// SASS FOR WORKS SECTION

.showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: auto;
  justify-items: center;

  .project-card {
    margin: 20px 15px;
    border-radius: 8px;
    color: var(--primary-color);
    width: 500px;
    height: fit-content;
    box-shadow: 0 4px 8px 0 #000;
    transition: 300ms all ease-in-out;
    background-color: #f0f0f0;

    &:hover {
      transform: scale(1.1);
    }

    p {
      color: #1d1d1d;
      padding: 10px;
    }

    h1 {
      color: #000;
      text-align: center;
    }

    img {
      border-radius: 8px;
      border-bottom: 1px black solid;
      width: 100%;
      height: auto;
    }
  }
}
